 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

 :root {
     --base-clr: #11121a;
     --line-clr: #42434a;
     --hover-clr: #222533;
     --text-clr: #e6e6ef;
     --accent-clr: #5e63ff;
     --secondary-clr: #b0b3c1;
 }

 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
     line-height: 1.5em;
 }

 body {
     width: 100%;
     background-color: var(--base-clr);
     color: var(--text-clr);
     display: grid;
     grid-template-columns: auto 1fr;
     grid-template-rows: 1fr 1fr;
     grid-template-areas:
         "sidebar content-1"
         "sidebar content-2";
 }

 #sidebar {
     grid-area: sidebar;
     position: sticky;
     top: 0;
     left: 0;
     height: 100vh;
     background-color: var(--line-clr);
     overflow: hidden;
     background-color: var(--base-clr);
     border-right: 1px solid var(--line-clr);
 }

 #sidebar.close {
     padding: 5px;
     width: 55px;
 }

 #sidebar ul {
     list-style: none;
 }

 #sidebar>ul>li:first-child {
     display: flex;
     justify-content: flex-end;
     margin-bottom: 16px;

     .logo {
         font-weight: 600;
     }
 }

 #sidebar ul li.active a {
     color: var(--accent-clr);

     i {
         fill: var(--accent-clr);
     }
 }

 #sidebar a,
 #sidebar .dropdown-btn,
 #sidebar .logo {
     border-radius: .5em;
     padding: .85em;
     text-decoration: none;
     color: var(--text-clr);
     display: flex;
     align-items: center;
     gap: 1em;
     transition: 300ms ease;
 }

 .dropdown-btn {
     width: 100%;
     text-align: left;
     background: none;
     border: none;
     font: inherit;
     cursor: pointer;
 }

 #sidebar i {
     flex-shrink: 0;
     fill: var(--text-clr);
 }

 #sidebar a span,
 #sidebar .dropdown-btn span {
     flex-grow: 1;
 }

 #sidebar a:hover,
 #sidebar .dropdown-btn:hover {
     background-color: var(--hover-clr);
 }

 #sidebar .sub-menu {
     display: grid;
     grid-template-rows: 0fr;
     transition: 300ms ease-in-out;

     >div {
         overflow: hidden;
     }
 }

 #sidebar .sub-menu.show {
     grid-template-rows: 1fr;
 }

 .dropdown-btn i {
     transition: 200ms ease;
 }

 .rotate i:last-child {
     rotate: -180deg;
 }

 #sidebar .sub-menu a {
     padding-left: 2em;
 }

 #toggle-btn {
     margin-left: auto;
     padding: 1em;
     border: none;
     border-radius: .5em;
     background: none;
     cursor: pointer;
     color: var(--text-clr);
     transition: 300ms ease;
 }

 #toggle-btn:hover {
     background-color: var(--hover-clr);
 }

 .content1 {
     grid-area: content-1;
     width: 100%;
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-areas:
         "des-container img-wrapper";
 }

 .content1 .des-container {
     padding-left: 1em;
     width: 100%;
     height: 50%;
     display: grid;
     grid-template-areas:
         "stack"
         "description"
         "informations";
 }

 .about-me {
     grid-area: stack;
     font-size: 2rem;
     z-index: -1;
     background: linear-gradient(to top right, #B5F8FE, #121c50);
     width: fit-content;
     color: #fff;
     padding: 15px 40px 15px 40px;
     border-radius: 50px;
     margin-top: 20px;
 }

 .description {
     grid-area: description;
 }

 .description p {
     color: #e3e3e3;
     font-size: 1.1rem;
     line-height: 1.7rem;
     margin-top: 1.5em;
 }

 .description span {
     color: #0ef;
 }

 .informations {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-area: informations;
 }

 .left-info {
     grid-area: left-info;
     list-style-type: none;
     line-height: 2rem;
     padding-top: 20px;
     grid-row: 1/2;
     grid-column: 1/2;
 }

 .left-info li {
     padding-top: 1em;
 }

 .left-info span {
     padding-left: 0.5em;
 }

 .right-info {
     grid-row: 1/2;
     grid-column: 2/3;
     padding-top: 20px;
     list-style-type: none;
     line-height: 2rem;
 }

 .right-info li {
     padding-top: 1em;
 }

 .right-info span {
     padding-left: 0.5em;
 }

 .left-info i,
 .right-info i {
     color: #0ef;
 }

 .dl-cv button {
     width: 150px;
     height: 4em;
     border-radius: 30px;
     background: #000;
     margin-top: 2em;
 }

 .dl-cv button a {
     text-decoration: none;
     color: #e3e3e3;
     padding: 16px 30px;
     border-radius: 30px;
     transition: .5s ease;
 }

 .dl-cv button a:hover {
     color: var(--accent-clr);
 }


 .wrapper {
     border-radius: 1em;
     width: 100%;
     height: 40em;
     grid-area: img-wrapper;
     place-items: center;
 }

 .wrap-container {
     margin-top: 3em;
     height: 80%;
     width: 80%;
     border-radius: 30px;
 }

 .wrapper img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: center;
     display: block;
     border-radius: 30px;
 }


 .content2 {
     grid-area: content-2;
     place-items: center;
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 50px 1fr;
     grid-template-areas:
         "title-1 title-1"
         "education-1 experience-1";
 }

 .content2 .title {
     color: #e3e3e3;
     grid-area: title-1;
     font-size: 1.5rem;
 }

 .education {
     height: 70%;
     width: 70%;
     grid-area: education-1;
 }

 .education div,
 .experience div {
     height: auto;
 }

 .experience {
     height: 70%;
     width: 70%;
     grid-area: experience-1;
 }

 .education,
 .experience {
     color: #e3e3e3;
     margin-top: 1em;
 }

 .education h3,
 .experience h3 {
     font-size: 1.5rem;
     padding-top: 15px;
 }

 .education p,
 .experience p {
     font-weight: 500;
     color: #e3e3e3;
     font-size: 1.1rem;
 }

 .education .des,
 .experience .des {
     line-height: 1.5em;
 }

 @media(max-width:800px) {
     body {
         display: grid;
         grid-template-columns: auto 1fr;
         grid-template-rows: 1fr 650px;
         grid-template-areas:
             "sidebar content-1"
             "sidebar content-2";
     }

     .content2 {
         grid-area: content-2;
         place-items: center;
         display: grid;
         grid-template-columns: auto auto;
         grid-template-rows: 100px auto;
         grid-template-areas: "title-1 title-1"
             "education-1 experience-1";
     }

     .content2 .title {
         padding-top: 1em;
     }

     .education {
         height: auto;
     }

     .experience {
         height: auto;
     }
 }