*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(background/black-particles-background.avif);
    min-height: 100vh;
    display: grid;
    font-family: poppins,sans-serif;
    
    grid-template-columns: 150px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "sidebar content-1"
    "sidebar content-2";

    gap: 1em;
}

aside{
    grid-area: sidebar;
    position: sticky;
    top: 0%;
    left: 0%;
    height: 100vh;
    align-self: start;
    background: rgb(165, 165, 165);
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
    "dashboard"
    "sub-navbar";
    display: block;/**/
}

.dashboard{
    background: #b0b0b0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #4e3b3b;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 1em;
}

.sub-navbar{
    display: flex;
    justify-content: center;
}

.dropdown-btn{
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  color: #e3e3e3;
  font-weight: 700;
}

.sub-navbar ul{
    list-style-type: none;
}

.sub-navbar a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: -0.5px;
    padding: 15px 34px;
    margin-top: 1em;
    transition: all 0.5s ease;
    border-radius: 10px;
    z-index: 0;
    position: relative;
    display: flex;              
    align-items: center;
    color: #e3e3e3;
    cursor: pointer;
    gap: 8px;
}

.sub-navbar a::after{
    content: '';
    background: #000;
    height: 100%;
    width: 0%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
    transition: 300ms ease-in-out;
}

.sub-navbar a:hover::after{
    width: 100%;
    box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.3);
}

.sub-navbar li a:active,
.sub-navbar li a.activated{
    background: #000;
    border-radius: 0px;
}

.end-navbar{
    border: none;
    position: absolute;
    bottom: 1%;
    left: 0%;
}

.end-navbar a{
    padding: 15px 41px;
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: -0.5px;
    transition: all 0.5s ease;
    border-radius: 10px;
    z-index: 1;
    position: relative;
    display: flex;              
    align-items: center;
    color: #e3e3e3;
}

.end-navbar a:after{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    transition: 400ms ease-in-out;
    content: '';
    background: #000;
    z-index: -1;
}

/*hidden-nav*/

.hidden-nav{
    display: none;
}

.btn{
    grid-area: btn1;
}

.btn button{
    padding: 1em 1.2em 1em 1em;
    color: inherit;
    font-size: 0.9rem;
    z-index: 0;
    position: relative;
    display: flex;              
    align-items: center;
    cursor: pointer;
    border: none;
}

.btn i{
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
}

.hidden{
   grid-area: hidden-nav; 
   place-self: start;
}

.hidden li{
    padding-top: 1em;
}

.hidden a{
    padding: 1em 1.1em 1em 1.1em;
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: -0.5px;
    transition: all 0.5s ease;
    border-radius: 10px;
    z-index: 0;
    position: relative;
    display: flex;              
    align-items: center;
    color: #e3e3e3;
    cursor: pointer;
    /* gap: 8px; */
}

.hidden a::after{
    content: '';
    background: #000;
    height: 100%;
    width: 0%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
    transition: 300ms ease-in-out;
}

.hidden a:hover::after{
    width: 100%;
}

.hidden-nav li a:active,
.hidden-nav li a.activated{
    background: #000;
    border-radius: 0px;
}


.sub-navigation{
    grid-area: small-nav;
    display: none;
}

.sub-btn{
    grid-area: sub-btn1;
    background: #b0b0b0;
    color: #4e3b3b;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.sub-btn button{
    padding: 1em;
    border-radius: 30px;
    border: none;
    width: 100%;
    font-size: 1em;
    background: transparent;
}


.sub-naV{
    grid-area: sub-naV;
}

.sub-naV ul{
    list-style-type: none;
}

.sub-naV li{
    padding-top: 1em;
}

.sub-naV a{
    padding: 1em 1.1em 1em 1.1em;
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: -0.5px;
    transition: all 0.5s ease;
    border-radius: 10px;
    z-index: 0;
    position: relative;
    display: flex;              
    align-items: center;
    color: #e3e3e3;
    cursor: pointer;
}

.sub-naV a::after{
    content: '';
    background: #000;
    height: 100%;
    width: 0%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
    transition: 300ms ease-in-out;
}


.sub-naV a:hover::after{
    width: 100%;
}

.sub-naV li a:active,
.sub-naV li a.activated{
    background: #000;
    border-radius: 0px;
}

.sub-naV .end-navbar a{
    padding: 15px 41px;
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: -0.5px;
    transition: all 0.5s ease;
    border-radius: 10px;
    z-index: 1;
    position: relative;
    display: flex;              
    align-items: center;
    color: #e3e3e3;
}

.sib-naV .end-navbar a:after{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    transition: 400ms ease-in-out;
    content: '';
    background: #000;
    z-index: -1;
}

/**/

.content1{
    grid-area: content-1;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-template-areas: 
    "des-container img-wrapper";
}

.content1 .des-container{
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-areas: 
    "stack"
    "description"
    "informations";
}

.about-me{
    grid-area: stack;
    font-size: 2rem;
    z-index: -1;
    background: linear-gradient(to top right, #B5F8FE,#121c50);
    width: fit-content;
    color: #fff;
    padding: 15px 40px 15px 40px;
    border-radius: 50px;
    margin-top: 20px;
}

.description{
    grid-area: description;
}

.description p{
    color: #e3e3e3;
    font-size: 1.1rem;
    line-height: 1.7rem;
    margin-top: 1.5em;
}

.description span{
    color: #0ef;
}

.informations{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: informations;
}

.left-info{
    grid-area: left-info;
    list-style-type: none;
    line-height: 2rem;
    padding-top: 20px;
    grid-row: 1/2;
    grid-column: 1/2;
    color: #e3e3e3;
}

.right-info{
    grid-row: 1/2;
    grid-column: 2/3;
    padding-top: 20px;
    list-style-type: none;
    color: #e3e3e3;
    line-height: 2rem;
}

.left-info i,
.right-info i{
    color: #0ef;
}

.dl-cv button{
    width: 150px;
    height: 50px;
    border-radius: 30px;
    background: #000;
    
}

.dl-cv button a{
    text-decoration: none;
    color: #e3e3e3;
    padding: 16px 32px;
    border-radius: 30px;
    transition: .5s ease;
}

.dl-cv button a:hover{
    color: #0ef;
}


.wrapper{
    border-radius: 1em;
    width:100%;
    height: 40em;
    grid-area: img-wrapper;
    place-items: center;
}

.wrap-container{
    margin-top: 3em;
    height: 80%;
    width: 80%;
    border-radius: 30px;
}

.wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
    display: block; 
    border-radius: 30px;
}

.content2{
    grid-area: content-2;
    place-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
    "title-1 title-1"
    "education-1 experience-1";
}

.content2 .title{
    color: #e3e3e3;
    grid-area: title-1;
    font-size: 1.5rem;
}

.education{
    height: 100%;
    width: 70%;
    grid-area: education-1;
}

.education div,
.experience div{
    height: auto;
}

.experience{
    height: 100%;
    width: 70%;
    grid-area: experience-1;
}

.education,
.experience{
    color: #e3e3e3;
    margin-top: 1em;
}

.education h3,
.experience h3{
    font-size: 1.5rem;
    padding-top: 15px;
}

.education p,
.experience p{
    font-weight: 500;
    color: #e3e3e3;
    font-size: 1.1rem;
}

.education .des,
.experience .des{
    line-height: 1.5em;
}




@media (max-width: 800px) {
  body {
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
      "small-nav content-1"
      "small-nav img-wrapper";
  }

  .main-sub {
    display: none;
  }

  .hidden-nav {
    display: grid ;
    width: 50px;
    justify-content: center;
    align-items: start;
    background: lightblue;
    position: sticky;
    top: 0;
    height: 100vh;
    grid-area: small-nav;
  }

  .sub-navigation {
    display: none;
    width: 150px;
    background: lightblue;
    position: sticky;
    top: 0;
    height: 100vh;
    grid-area: small-nav;
  }
}