* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.09);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#header a {
    text-decoration: none;
    color: #1a1a1a;
    font-size: 25px;
}

#header a:hover {
    color: #088178;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a
}

#navbar li a:hover {
    color: #088178;
}

#navbar li a :hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a :hover ::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

#hero {
    background-image: url(hero/herobackground.1.avif);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0%;
    padding: 0 80px;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 4px;
    color: #000;
    border: none;
    transition: 0.2s;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    transition: 0.2s;
    outline: none;
}

/* ============ */

.container-login {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

.login-box {
    display: flex;
    flex-direction: column;
    height: 440px;
    width: 440px;
    padding: 30px;
    margin-bottom: 50px;
    border: 2px solid #9BA4B5;
    border-radius: 10px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);
}



.login-header {
    text-align: center;
    font-size: 25px;
    margin: 20px 0 40px 0;
    font-weight: 600;
    color: purple;
}

.input-box {
    position: relative;
}

.input-box .input-field {
    width: 100%;
    border-radius: 30px;
    margin-bottom: 15px;
    height: 50px;
    font-size: 15px;
    border: none;
    padding: 0 25px;
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.2);
    transition: .3s ease;
}

.input-box label {
    position: absolute;
    top: 35%;
    left: 5%;
    transform: translateY(-50%);
    background: #fff;
    color: #888;
    transition: .3s ease;
}

input:focus+label,
input:valid+label {
    top: 0;
    font-size: 15px;
}

::placeholder {
    font-weight: 500;
}

.forgot {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.forgot section {
    color: gray;
}

#check {
    margin-right: 3px;
}

.forgot a {
    text-decoration: none;
    color: gray;
    transition: .3s ease;
}

.forgot a:hover {
    color: black;
    text-decoration: underline;
    font-weight: 500;
}

.input-submit {
    position: relative;
}

.submit-btn {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    background: #222;
    margin-top: 5px;
    cursor: pointer;
    transition: .3s ease;
}

.submit-btn:hover {
    background: #000;
    transform: scale(1.05.1);
    transition: .3s ease;
}

.input-submit label {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.sign-up-link {
    text-align: center;
    margin-top: 3px;
    color: gray;
    font-size: 15px;
}

.sign-up-link a {
    text-decoration: none;
    color: gray;
    transition: .3s ease;
}

.sign-up-link a:hover {
    color: black;
    text-decoration: underline;
    font-weight: 500;

}