*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(background/840843081452.jpg);
    z-index: 2;
    background-size: cover;
    height: 100vh;
    font-family: Poppins,sans-serif;
    position: relative;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 50px;
    z-index: 1000;
    width: auto;
    flex-direction: row;
    background: transparent;
    overflow-x: hidden;
}

.navbar-container{
    width: min(80%,500px);
    height: 65px; 
    display: flex;
    background: #000;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    position: relative;
}

.navbar-container::after{
    position: absolute;
    content: '';
    height: 110%;
    width: 101%;
    width: min(100%,500px);
    border-radius: 1000px;
    background-image:linear-gradient(to top right, #B5F8FE,#121c50);
    z-index: -1;
}


.navbar-container li{
    list-style-type: none;

}

.navbar-container a{
    color: #fff;
    text-decoration: none;
    padding: 20px 32px;
    border-radius: 35px;
    transition: all .5s ease;
    width: 100%;
    text-align: center;
    position: relative;
}

.navbar-container a:hover{
    color: #0ef;
}

.navbar-container  a span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    z-index: 3;
    border-bottom: 2px solid #0ef;
    border-radius: 15px;
    transform: scale(0) translateY(50px);
    opacity: 0;
    transition: .5s;
}

.navbar-container a:hover span{
    transform: scale(1) translateY(0);
    opacity: 1;
    color: #0ef;
}

.navbar-container ul{
    display: flex;
}

.hero{
    width: 100%;
    position: relative;
}

.container{
    z-index: 1;
    display: flex;
    background: transparent;
    width: min(40%,700px);
    position: absolute;
    left: 15%;
    justify-content: center;
    color: #000;
    top: 30%;
    flex-direction: column;
    padding: 2rem;
}

.container h1{
    color: #0ef;
    font-size: clamp(3rem,4vw,8rem);
}

.container span{
    font-size: clamp(2rem,4vw,3.5rem);
    padding: 1rem 1rem 0 0;
    color: #fff;
}

.container .intro{
    color: #ebebeb;
    font-size: clamp(0.9rem,4vw,1.5rem);
    line-height: 35px;
    padding: 2rem 2rem 2rem 0;
}


